/* Estilo general para el cuerpo y el texto */
body {
    font-family: Cambria, serif; /* Cambia el tipo de letra a Cambria */
    margin: 0;
    padding: 0;
    background-image: url('https://m.media-amazon.com/images/I/613kOHd9whL._AC_SL1001_.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-attachment: fixed; /* Fija la imagen de fondo */
    color: #000000; /* Azul más oscuro */
}

/* Estilo del encabezado */
.admin {
    display: flex;
    justify-content: space-between; /* Ajusta para separar los elementos */
    align-items: center;
    padding: 20px;
    background-color: #1565c0; /* Azul más claro */
    border-bottom: 2px solid #0d47a1; /* Azul más oscuro */
    text-align: center; /* Centra el texto del título */
}


/* Estilo para el botón de cerrar sesión */
#btnlogout {
    margin-left: 0px; /* Separación entre el título y el botón */
}

/* Estilo para el contenedor de los botones */
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para los botones */
.custom-btn {
    background-color: #00e2d7; /* Azul más oscuro */
    border: 2px solid #000000; /* Contorno negro */
    color: #000000; /* Letra negra */
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-btn:hover {
    background-color: #1565c0; /* Azul más claro */
    color: white;
    border-color: #000000; /* Contorno negro */
}
