/* zapatos_registro.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://m.media-amazon.com/images/I/613kOHd9whL._AC_SL1001_.jpg'); /* Misma imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-color: #f8f8f8; /* Mismo color de fondo pastel */
    color: black; /* Mismo color de texto */
    font-family: "Cambria", sans-serif; /* Mismo tipo de letra */
}

.contenedor {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Mismo fondo blanco con transparencia */
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    height: 80vw;
    max-height: 500px;
    box-shadow: 0 0 10px rgba(2, 24, 124, 0.945); /* Mismo tono de sombra */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black; /* Mismo color de texto */
}

.contenedor h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: black; /* Mismo color de texto */
}

input[type="text"],
input[type="password"],
button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #15138b; /* Mismo tono de borde */
    border-radius: 5px;
    font-size: 16px;
    color: black; /* Mismo color de texto */
}

button {
    background-color: #13068b; /* Mismo tono de azul oscuro */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
}

button:hover {
    background-color: #0011ff; /* Mismo tono de azul claro */
}

#googlebtn,
#facebooklogin {
    width: 100%; 
    font-size: 16px;
}

#googlebtn {
    background-color: #13068b; /* Mismo tono de azul oscuro */
    margin-bottom: 10px; 
}

#googlebtn:hover {
    background-color: #0011ff; /* Mismo tono de azul claro */
}

#facebooklogin {
    background-color: #13068b; /* Mismo tono de azul oscuro */
    margin-bottom: 10px; 
}

#facebooklogin:hover {
    background-color: #0011ff; /* Mismo tono de azul claro */
}

.contenedor > div {
    display: flex;
    width: 100%;
    justify-content: space-between; 
}
