body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://m.media-amazon.com/images/I/613kOHd9whL._AC_SL1001_.jpg'); /* Misma imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-color: #f8f8f8; /* Mismo color de fondo pastel */
    color: black; /* Mismo color de texto */
    font-family: "Cambria", sans-serif; /* Mismo tipo de letra */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Mismo fondo blanco con transparencia */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    height: auto;
    box-shadow: 0 0 10px rgba(2, 24, 124, 0.945); /* Mismo tono de sombra */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    margin-bottom: 20px;
    color: black; /* Mismo color de texto */
}

.container h3 {
    margin-bottom: 10px;
    color: black; /* Mismo color de texto */
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea, /* Agregamos textarea a los selectores */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #15138b; /* Mismo tono de borde */
    border-radius: 5px;
    color: black; /* Mismo color de texto */
    box-sizing: border-box; /* Mismo ajuste de box-sizing */
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Añadimos margen inferior */
    background-color: #13068b; /* Mismo tono de azul oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Mismo ajuste de box-sizing */
}

button:hover {
    background-color: #0011ff; /* Mismo tono de azul claro */
}
