body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('https://m.media-amazon.com/images/I/613kOHd9whL._AC_SL1001_.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-attachment: fixed; /* Fija la imagen de fondo */
    font-family: Cambria, serif;
    color: black; /* Cambia el color del texto a negro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #1565c0; /* Azul más oscuro */
}

.table-container {
    overflow-x: auto;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
}

.table-custom th, 
.table-custom td {
    border: 1px solid #1976D2; /* Cambia el color del borde a azul rey */
    padding: 12px;
    text-align: center;
    color: #000000; /* Azul más oscuro */
}

.table-custom th {
    background-color: #2196f3; /* Azul */
    color: rgb(0, 0, 0);
}

.table-custom tbody tr:nth-child(even) {
    background-color: #e3f2fd; /* Azul claro */
}

.btn-primary {
    width: 150px; /* Ancho fijo para ambos botones */
    background-color: #2196f3; /* Azul */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0d47a1; /* Azul más oscuro */
}

.btn-danger {
    width: 150px; /* Ancho fijo para ambos botones */
    background-color: #f44336; /* Rojo */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #b71c1c; /* Rojo más oscuro */
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #2196f3; /* Azul */
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-close {
    color: #fff;
}

.form-label {
    color: #1565c0; /* Azul más oscuro */
}

#togglePassword {
    background-color: #2196f3; /* Azul */
    color: #fff;
}

a {
    color: black; /* Color de texto negro */
    text-decoration: none; /* Quita el subrayado por defecto */
}
