<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Style/style3.css">
    <link rel="icon" href="/Resource/icons/image.png">


    <title>INICIO</title>
</head>
<body>
    <div class="museum-sign">
        <h1>Museo Virtual</h1>

    </div>

    
    <button type="button" id="btnlogout">Cerrar Sesión</button>
    
    
    <div class="gallery">
        <div class="image-container">
            <img src="/Resource/Images/imagen1.jpg" alt="La Mona Lisa">
            <div class="image-info">
                <p>Nombre de la obra: La Mona Lisa</p>
                <p>Autor: Leonardo da Vinci</p>
            </div>
        </div>
        <div class="image-container">
            <img src="/Resource/Images/imagen2.png" alt="La persistencia de la memoria">
            <div class="image-info">
                <p>Nombre de la obra: La persistencia de la memoria</p>
                <p>Autor: Salvador Dalí</p>
            </div>
        </div>
        <div class="image-container">
            <img src="/Resource/Images/imagen3.png" alt="El grito">
            <div class="image-info">
                <p>Nombre de la obra: El grito</p>
                <p>Autor: Edvard Munch</p>
            </div>
        </div>
        <div class="image-container">
            <img src="/Resource/Images/imagen4.png" alt="Guernica">
            <div class="image-info">
                <p>Nombre de la obra: Guernica</p>
                <p>Autor: Pablo Picasso</p>
            </div>
        </div>
        <div class="image-container">
            <img src="/Resource/Images/imagen5.png" alt="La creación de Adán">
            <div class="image-info">
                <p>Nombre de la obra: La creación de Adán</p>
                <p>Autor: Michelangelo</p>
            </div>
        </div>
        <div class="image-container">
            <img src="/Resource/Images/imagen6.png" alt="La última cena">
            <div class="image-info">
                <p>Nombre de la obra: La última cena</p>
                <p>Autor: Leonardo da Vinci</p>
            </div>
        </div>
        <div class="image-container">
            <img src="/Resource/Images/imagen7.jpg" alt="Las Meninas">
            <div class="image-info">
                <p>Nombre de la obra: Las Meninas</p>
                <p>Autor: Diego Velázquez</p>
            </div>
        </div>
        <div class="image-container">
            <img src="/Resource/Images/imagen8.png" alt="El jardín de las delicias">
            <div class="image-info">
                <p>Nombre de la obra: El jardín de las delicias</p>
                <p>Autor: El Bosco</p>
            </div>
        </div>


    </div>



    <script type="module" src="/Controller/home.js"></script>
</body>
</html>