<!DOCTYPE html>
<html lang="es_CO">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Style/style2.css">
    <link rel="icon" href="/Resource/icons/image.png">

    
    <title>REGISTRARSE</title>

</head>

<body>

    <div class="contenedor">

        <h2>Registro de Usuario</h2>

        <h3>Usuario</h3>
        <input type="text" id="email" placeholder="Email"> 

        <h3>Confirmar Usuario</h3>
        <input type="text" id="email2" placeholder="Confirmar Email"> 

        <h3>Contraseña</h3>
        <input type="password" id="password" placeholder="Contraseña"> 
        
        <h3>Confirmar Contraseña</h3>
        <input type="password" id="password2" placeholder="Confirmar Contraseña"> 

        <button id="rgsbtn" class="button-singup" type="submit">Registrarse</button> 
        <button type="button" id="show-password">Mostrar contraseña</button>
        <button id="exitbtn" class="button-exit" type="submit">Iniciar Sesión</button> 
        

    </div>

    <script type="module" src="/Controller/registro.js"></script>
    <script type="module" src="/Controller/verification.js"></script>

</body>


</html>
