<!DOCTYPE html>
<html lang="es_CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Style/style2.css">
    <link rel="icon" href="/Resource/icons/logo.png">


    <title>Database Registro</title>
</head>

<body>

    <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h1 class="text-center">Registro de Usuario</h1>
              </div>
              <div class="card-body">
                <form id="LogUp-Form">
                    <div class="form-group">
                        <h3>Nombres Completos</h3>
                        <input type="text" id="edtnom" class="form-control" placeholder="Ingresa tu nombre completo" required>
                    </div>
                    <div class="form-group">
                        <h3>Apellidos Completos</h3>
                        <input type="text" id="edtape" class="form-control" placeholder="Ingresa tu nombre completo" required>
                    </div>
                    <div class="form-group">
                        <h3>Fecha de Nacimiento</h3>
                        <input type="date" id="edtfecha" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <h3>Cédula</h3>
                        <input type="text" id="edtcc" class="form-control" placeholder="Ingresa tu número de cédula" required>
                    </div>
                    <div class="form-group">
                        <h3>Estado Civil</h3>
                        <input type="text" id="edtstc" class="form-control" placeholder="Ingresa tu estado civil" required>
                    </div>
                    <div class="form-group">
                        <h3>Tipo de Sangre [RH]</h3>
                        <select id="edtrh" class="form-control" required>
                            <option value="" selected disabled>Selecciona tu tipo de sangre [RH]</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h3>Género</h3>
                        <select id="edtgnr" class="form-control" required>
                            <option value="" selected disabled>Selecciona tu género</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h3>Teléfono</h3>
                        <input type="tel" id="edttlf" class="form-control" placeholder="Ingresa tu número de teléfono" required>
                    </div>
                    <div class="form-group">
                        <h3>Dirección</h3>
                        <input type="text" id="edtdirec" class="form-control" placeholder="Ingresa tu dirección" required>
                    </div>
                    <div class="form-group">
                        <h3>Correo Electrónico</h3>
                        <input type="email" id="edtemail" class="form-control" placeholder="Ingresa tu correo electrónico" required>
                    </div>
                    <div class="alert alert-danger d-none" id="emailAlert" role="alert">Por favor ingresa tu correo electrónico.</div>
                    <div class="form-group">
                        <h3>Confirmar Correo Electrónico</h3>
                        <input type="email" id="confirmEmail" class="form-control" placeholder="Confirma tu correo electrónico" required>
                    </div>
                    <div class="alert alert-danger d-none" id="confirmEmailAlert" role="alert">Por favor confirma tu correo electrónico.</div>
                    <div class="form-group">
                        <h3>Contraseña</h3>
                        <input type="password" id="password" class="form-control" placeholder="Ingresa tu contraseña" required>
                    </div>
                    <div class="alert alert-danger d-none" id="passwordAlert" role="alert">Por favor ingresa tu contraseña.</div>
                    <div class="form-group">
                        <h3>Confirmar Contraseña</h3>
                        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirma tu contraseña" required>
                    </div>
                    <div class="alert alert-danger d-none" id="confirmPasswordAlert" role="alert">Por favor confirma tu contraseña.</div>

                    <div class="form-group">
                        <h3>Tipo de Cuenta</h3>
                        <select id="accountType" class="form-control" required>
                            <option value="" selected disabled>Selecciona el tipo de cuenta</option>
                            <option value="usuario">Cuenta de Usuario</option>
                            <option value="administrador">Cuenta de Administrador</option>
                        </select>
                    </div>
                    <div class="form-group d-none" id="adminPasswordGroup">
                        <h3>Contraseña de Administrador</h3>
                        <input type="text" id="adminPassword" class="form-control" placeholder="Ingresa la contraseña de administrador" disabled>
                    </div>

                    <button id="rgsbtn" class="btn btn-primary" type="submit">Registrarse</button> <br>
                    <button type="button" id="show-password" class="btn btn-secondary">Mostrar contraseña</button> <br>
                    <div class="mt-3 text-center">
                        <button type="button" id="exitbtn" class="btn btn-danger">Atras</button> <br>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script type="module" src="/Controller/registro.js"></script>
    <script type="module" src="/Controller/add_users.js"></script>

    <script>

        const telefonoInput = document.getElementById('edttlf');

        telefonoInput.addEventListener('input', function() {
            this.value = this.value.replace(/[^\d]/g, '');
        });

        const cedulaInput = document.getElementById('edtcc');

        cedulaInput.addEventListener('input', function() {
            this.value = this.value.replace(/[^\d]/g, '');
        });

        const accountTypeSelect = document.getElementById('accountType');

        const adminPasswordInput = document.getElementById('adminPassword');

        accountTypeSelect.addEventListener('change', function() {
            if (this.value === 'administrador') {
                adminPasswordInput.removeAttribute('disabled');
                adminPasswordInput.setAttribute('required', 'required');
            } else {
                adminPasswordInput.setAttribute('disabled', 'disabled');
                adminPasswordInput.removeAttribute('required');
                adminPasswordInput.value = ''; 
            }
        });
    </script>

</body>
</html>
